# Megatutorial 2: Clustering

In [84]:
from pandas import read_csv

In [85]:
data = read_csv("../data1/fake_profiles.csv", index_col=0)
# mit index_col=0 wird die erste Spalte als Index (unnamed 0 ist weg) verwendet

In [86]:
data.head()

,profile_pic,rel_num_numeric_char_username,words_fullname,rel_num_numeric_char_fullname,name=username,description_length,has_external_url,is_private,num_posts,num_followers,num_follows,is_fake
0,yes,0.27,0,0.0,no,53,no,no,32,1000.0,955,no
1,yes,0.00,2,0.0,no,44,no,no,286,2740.0,533,no
2,yes,0.10,2,0.0,no,0,no,yes,13,159.0,98,no
3,yes,0.00,1,0.0,no,82,no,no,679,414.0,651,no
4,yes,0.00,2,0.0,no,0,no,yes,6,151.0,126,no

In [87]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 576 entries, 0 to 575
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   profile_pic                    576 non-null    object
 1   rel_num_numeric_char_username  576 non-null    float64
 2   words_fullname                 576 non-null    int64
 3   rel_num_numeric_char_fullname  576 non-null    float64
 4   name=username                  576 non-null    object
 5   description_length             576 non-null    int64
 6   has_external_url               576 non-null    object
 7   is_private                     576 non-null    object
 8   num_posts                      576 non-null    int64
 9   num_followers                  556 non-null    float64
 10  num_follows                    576 non-null    int64
 11  is_fake                        576 non-null    object
dtypes: float64(3), int64(4), object(5)
memory usage: 58.5+ KB

In [88]:
data.columns

Index(['profile_pic', 'rel_num_numeric_char_username', 'words_fullname',
       'rel_num_numeric_char_fullname', 'name=username', 'description_length',
       'has_external_url', 'is_private', 'num_posts', 'num_followers',
       'num_follows', 'is_fake'],
      dtype='object')

In [89]:
target = [
    "is_fake"
]

features = [
    'rel_num_numeric_char_username',
    'words_fullname',
    'rel_num_numeric_char_fullname',
    'description_length',
]

y = data[target]
X = data[features]
# X immer Großbuchstaben, y immer Kleinbuchstaben

# Clustering in Scikit-Learn

In [90]:
from sklearn.cluster import KMeans, AgglomerativeClustering

In [91]:
#Einstellen und Anwenden in einem Schritt


#Einstellen und Anwenden in einem Schritt
clusters = kmeans_engine.fit_predict(X)

In [92]:
X["clusters"] = clusters

/tmp/ipykernel_4081/3690089441.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["clusters"] = clusters

In [93]:
X

,rel_num_numeric_char_username,words_fullname,rel_num_numeric_char_fullname,description_length,clusters
0,0.27,0,0.00,53,1
1,0.00,2,0.00,44,0
2,0.10,2,0.00,0,0
3,0.00,1,0.00,82,1
4,0.00,2,0.00,0,0
...,...,...,...,...,...
571,0.55,1,0.44,0,0
572,0.38,1,0.33,21,0
573,0.57,2,0.00,0,0
574,0.57,1,0.00,11,0
575,0.27,1,0.00,0,0

In [94]:
clusters

array([1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0], dtype=int32)

In [ ]:
hierarchical_engine = AgglomerativeClustering(n_clusters=3)

# Einstellen und Anwenden in zwei Schritten
hierarchical_engine.fit_predict(X)

array([0, 0, 2, 1, 2, 1, 0, 2, 0, 0, 0, 0, 2, 1, 1, 0, 2, 0, 0, 1, 0, 0,
       0, 0, 2, 1, 2, 1, 1, 1, 1, 2, 0, 0, 0, 2, 2, 1, 1, 2, 2, 2, 0, 1,
       0, 1, 2, 2, 2, 0, 1, 0, 1, 0, 1, 2, 0, 2, 2, 2, 2, 0, 2, 0, 1, 0,
       0, 0, 0, 2, 0, 0, 2, 0, 2, 2, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 1, 0,
       0, 2, 2, 0, 2, 0, 2, 0, 0, 2, 0, 2, 2, 2, 2, 0, 0, 1, 1, 1, 0, 2,
       0, 2, 1, 0, 2, 2, 2, 2, 1, 2, 2, 2, 0, 2, 0, 2, 2, 2, 0, 0, 1, 0,
       1, 1, 2, 0, 0, 2, 0, 1, 2, 2, 0, 2, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 2, 2, 2, 2, 2, 2, 1, 2, 0, 1, 1, 0, 2, 0, 2, 0, 0, 1, 1, 2, 0,
       1, 2, 2, 2, 2, 2, 0, 2, 0, 2, 0, 0, 2, 0, 0, 0, 2, 1, 1, 2, 0, 0,
       1, 2, 0, 2, 0, 0, 0, 1, 0, 0, 0, 1, 0, 2, 0, 1, 1, 2, 0, 0, 1, 2,
       0, 0, 2, 2, 2, 1, 1, 0, 0, 0, 2, 0, 0, 0, 1, 1, 2, 2, 0, 2, 0, 2,
       1, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 0, 0, 1, 0, 0, 2,
       2, 2, 2, 2, 0, 0, 0, 0, 1, 2, 0, 0, 0, 0, 2, 2, 2, 0, 0, 0, 0, 2,
       2, 2, 2, 2, 2, 2, 0, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 1, 2, 2, 0, 2, 2, 2, 0,
       2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2,
       2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2,
       2, 2, 1, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2,
       0, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 0, 2, 0, 2, 2, 2, 0, 2,
       0, 2, 2, 2])

# Clustering in Scipy

In [102]:
from scipy.cluster import hierarchy
from matplotlib import pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [100]:
Z = hierarchy.linkage(X, method="ward")

In [101]:
hierarchy.dendogram(Z)
plt.show()

AttributeError: module 'scipy.cluster.hierarchy' has no attribute 'dendogram'